<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>Create a new listing</h3>
    <br>
    <form  method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input placeholder="Add  a  catchy  tittle" name="listing[title]" type="text" class="form-control" required>
        <div class="valid-feedback">
        Title Looks good!
    </div>
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" placeholder="Describe your details" required></textarea>
             <div class="invalid-feedback">
            Enter valid description
    </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload listing image</label>
            <input name="listing[image]" type="file" class="form-control" required>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4" >
               <label for="price" class="form-label">price</label>
                <input name="listing[price]" placeholder="enter price"  class="form-control" required />
                 <div class="invalid-feedback">
                enter the correct price!
               </div>
                </div>
                <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input placeholder="India" name="listing[country]" type="text" class="form-control" required>
                <div class="invalid-feedback">
                Enter country name!
                </div>
                </div>
            </div>
        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input  placeholder="Rudrapur,Uttrakhand" name="listing[location]" type="text" class="form-control" required>
        <div class="invalid-feedback">
         Enter location please
    </div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">ADD</button>
    </form>
    <br><br>
</div>
</div>
</body>
</html>